
<div *ngIf="pageError">
  <mat-grid-list  class="col col-lg-12 col-md-12" cols="1" >
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div ></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div style="text-align: center; color: #0071c5; size: 300px">No Data In Bandaging Stage</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="!pageError" class="grid-container col col-lg-12 col-md-12">
  <h1 class="mat-h1" style="text-align: center">Bandaging </h1>
  <mat-grid-list class="col col-lg-12 col-md-12" cols="2" rowHeight="3:2">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h5 style="font-size: 20px; color: #0071c5">Total Compliance Score:<br><br>
            </h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="col-lg-12 col-md-12">
          <div class="col-lg-3 col-md-3"><h5>
            Weight Distribution: <br><br>
            <div *ngFor="let plan of mainPlan.subPlans">
              {{plan.name}} - {{plan.weight *100}} % <br>
            </div>
          </h5></div>
          <div class="col-lg-9 col-md-9">
            <canvas #mychart baseChart [data]="bandCompliance.finalValue" [labels]="['True','False']" [chartType]="'doughnut'" [options]="bandCompliance.options" [colors]="colorsCompliance" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowHeight="fit">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h5 style="font-size: 20px; color: #0071c5">Detailed Admission Scores:
            </h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="display: block"> <canvas #bar baseChart [datasets]="bandConcepts.datasets" [labels]="bandConcepts.labels" [options]="bandConcepts.options" [colors]="colorsConcepts" [chartType]="'bar'">
          </canvas></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list id="intervalesDashboard" class="col col-lg-12 col-md-12" cols="1" >
    <mat-grid-tile >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div id="intervalsPatients"></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div id="timelinediv" style="width: 100%"></div>
          <div id="description">
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list id="intervalesPatient" class="col col-lg-12 col-md-12" cols="1" >
    <mat-grid-tile  rowHeight="fit">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <div id="intervalsPatient"></div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <div id="timelinediv2" style="display: block;width: 100%"></div>
          <div id="description2"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
