<div class="grid-container col col-lg-12 col-md-12">
    <h1 class="mat-h1" style="text-align: center">Admission</h1>
    <mat-grid-list class="col col-lg-12 col-md-12" cols="2" rowHeight="3:2">
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h5>Admission process compliance percentages.<br><br>
                Based on all tests in the Admission process.
              </h5>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="col-lg-12 col-md-12">
<!--            <div class="col-lg-2 col-md-2"><h5>-->
<!--              Concepts: <br><br>-->
<!--              Pain - {{weights.ADMISSION_PAIN_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Norton - {{weights.ADMISSION_NOTRON_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Skin - {{weights.ADMISSION_SKIN_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Diagnos - {{weights.ADMISSION_DIAGNOSIS_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Albumin - {{weights.ADMISSION_ALBUMIN_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Nurtition Diatition - {{weights.ADMISSION_DIETITION_NUTRITION_WEIGHT_IN_STAGE}} % <br><br>-->
<!--              Nutrition Nurse - {{weights.ADMISSION_NURSE_NUTRITION_WEIGHT_IN_STAGE}} %-->
<!--            </h5></div>-->
            <div class="col-lg-12 col-md-12">
              <canvas #mychart baseChart [data]="admissionCompliance.finalValue" [labels]="['True','False']" [chartType]="'doughnut'" [options]="admissionCompliance.options" [colors]="colorsCompliance" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowHeight="fit">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                      <h5>                        Tests in Admission process.
                      </h5>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div style="display: block"> <canvas #bar baseChart [datasets]="admissionConcepts.datasets" [labels]="admissionConcepts.labels" [options]="admissionConcepts.options" [colors]="colorsConcepts" [chartType]="'bar'">
              </canvas></div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  <mat-grid-list id="intervalesDashboard" class="col col-lg-12 col-md-12" cols="1" >
<!--    <mat-grid-tile  rowHeight="fit">-->
<!--      <mat-card class="dashboard-card">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>-->
<!--            <div id="intervalsPatients"></div>-->
<!--          </mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content >-->
<!--          <div id="timelinediv" style="display: block;width: 100%"></div>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
  </mat-grid-list>

</div>
