
<!--<app-loading-screen></app-loading-screen>-->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar color="red">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="" [routerLink]="['summary']" [queryParams]="{title: mainRequest, si: true}">Summary</a>
            <a mat-list-item href="" [routerLink]="['admission']" [queryParams]="{title: mainRequest, si: true}">Admission</a>
            <a mat-list-item href="" [routerLink]="['followup']" [queryParams]="{title: mainRequest, si: true}">Follow up</a>
            <a mat-list-item href="" [routerLink]="['prevention']" [queryParams]="{title: mainRequest, si: true}">Prevention</a>
            <a mat-list-item href="" [routerLink]="['treatment']" [queryParams]="{title: mainRequest, si: true}">Treatment</a>
            <!--<a mat-list-item href="" [routerLink]="['bandaging']" [queryParams]="{title: mainRequest, si: true}">Bandaging</a>-->
          <a mat-list-item href="" (click)="firstModal.open()" > <i style="size: 25px" class="fa fa-notes-medical"></i></a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet *ngIf="!serched"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<modal #firstModal>
  <modal-header>
    <h1>Protocol</h1>
  </modal-header>
  <modal-content>
    <!--<image href="..\..\assets\protocol.V2.vsdx">-->
    <!--</image>-->
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="firstModal.close()">okay!</button>
  </modal-footer>
</modal>
