<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="col-md-12 col-lg-12">
        <!-- <mat-toolbar class="col-md-12 col-lg-12" color="primary">
            <h1 class="pull-right" style="text-align: center">Compliance</h1>
        </mat-toolbar> -->
        <nav class="navbar navbar-default col-md-12 col-lg-12" style="background: #0071c5;text-align: center ">
            <div class="navbar-header">
                <a class='navbar-brand' style="color: white; ">
                    <span style="font-size: 20pt; color: white; text-align: center">Herzfeld Pressure Ulcer Compliance System</span>
                </a>
            </div>
        </nav>
    </div>
    <!--<div style="margin-top: 20px" class="row well col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8">-->
        <!--<div class="col-lg-12 col-md-12">-->
            <!--<div s class="col-md-2 col-lg-2">-->
                <!--<mat-form-field>-->
                    <!--<mat-select style="margin-top: 22px; " placeholder="Data based:">-->
                        <!--<mat-option [value]="">time base</mat-option>-->
                        <!--<mat-option [value]="">patient base</mat-option>-->
                    <!--</mat-select>-->
                <!--</mat-form-field>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-lg-3">-->
                <!--<p class="input-group" style="margin-top: 35px;">-->
                    <!--<label style="margin-right: 10px">-->
                <!--Start: </label>-->
                    <!--<input [owlDateTimeTrigger]="dt" [owlDateTime]="dt">-->
                    <!--<owl-date-time #dt></owl-date-time>-->


                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-3 col-lg-3">-->
                <!--<p class="input-group" style="margin-top: 35px;">-->
                    <!--<label>-->
                <!--End: </label>-->
                    <!--<input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">-->
                    <!--<owl-date-time #dt1></owl-date-time>-->

                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-1 col-lg-1">-->
                <!--<p class="input-group" style="width:20px;margin-top: 5px;">-->
                    <!--<label>Patients:</label>-->
                    <!--<ss-multiselect-dropdown style="display: block; " [options]="myOptions" [(ngModel)]="optionsModel"  [settings]="multiSelectSettings"></ss-multiselect-dropdown>-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-md-1 col-lg-1">-->
                <!--<p class="input-group" style="width:20px;margin-top: 5px;">-->
                    <!--<label>Department:</label>-->
                    <!--<ss-multiselect-dropdown style="display: block; " [options]="myOptions1" [(ngModel)]="optionsModel"  [settings]="multiSelectSettings"></ss-multiselect-dropdown>-->
                <!--</p>-->
            <!--</div>-->
            <!--&lt;!&ndash; </div> &ndash;&gt;-->
            <!--&lt;!&ndash; <div class="col-lg-12 col-md-12"> &ndash;&gt;-->

            <!--<div class="col-md-2 col-lg-2">-->
                <!--<button class="btn btn-primary" style="width: 80px; margin-left: 20px; margin-top: 30px;" (click)="Submit()">Submit</button>-->
            <!--</div>-->
            <!--&lt;!&ndash; </div> &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-12 col-md-12">-->
        <!--<app-nav></app-nav>-->
    <!--</div>-->
  <router-outlet></router-outlet>
</div>
