<div class="grid-container col col-lg-12 col-md-12">
    <h1 class="mat-h1" style="text-align: center">Admission</h1>
    <mat-grid-list class="col col-lg-12 col-md-12" cols="2" rowHeight="3:2">
      <mat-grid-tile>
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h5>              Admission process compliance percentages.<br><br>
                Based on all tests in the Admission process.

              </h5>

            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div><canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas></div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
        <mat-grid-tile rowHeight="fit">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                      <h5>                        Tests in Admission process.
                      </h5>
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div style="display: block"> <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas></div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>

</div>
